<!DOCTYPE html>
<html>
  <head>
    <title>Personal Library</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  
  <body>
    
    <header class="container">
      <h1>Information Security Project: Personal Library</h1>
    </header>
    
    <main class="container">
      
      <h2>User stories:</h2>
      <ol class="user-stories">
        <li>Nothing from my website will be <code>cached</code> in my client as a security measure.</li>
        <li>I will see that the site is powered by <code>PHP 4.2.0</code> even though it isn't as a security measure.</li>
        <li>I can <strong>POST</strong> a <code>title</code> to <code>/api/books</code> to add a <code>book</code> and returned will be the object with the <code>title</code> and a unique <code>_id</code>.</li>
        <li>I can <strong>GET</strong> <code>/api/books</code> to retrieve an <code>array</code> of all books containing <code>title</code>, <code>_id</code>, & <code>commentcount</code>.</li>
        <li>I can <strong>GET</strong> <code>/api/books/{_id}</code> to retrieve a single object of a <code>book</code> containing <code>title</code>, <code>_id</code> and an array of <code>comments</code> (empty array if no comments present).</li>
        <li>I can <strong>POST</strong> a <code>comment</code> to <code>/api/books/{_id}</code> to add a comment to a book and returned will be the <code>books</code> object similar to <strong>GET</strong> <code>/api/books/{_id}</code>.</li>
        <li>I can <strong>DELETE</strong> <code>/api/books/{_id}</code> to delete a <code>book</code> from the collection. Returned will be <code>"delete successful"</code> if successful.</li>
        <li>If I try to request a book that doesn't exist I will get a <code>"no book exists"</code> message.</li>
        <li>I can send a <strong>DELETE</strong> request to <code>/api/books</code> to delete all <code>books</code> in the database. Returned will be <code>"complete delete successful"</code> if successful.</li>
        <li>All 6 functional tests required are complete and passing.</li>
      </ol>
    
      <hr>

      <h2>API:</h2>
      <form id="newBookForm">
        <h3>Add a book:</h3>
        <p><code>POST /api/books</code></p>
        <input type="text" id="newBookTitle" name="title" placeholder="New Book Title" required="">
        <input type="submit" value="Submit new book" id="newBook">
      </form>
      
      <br>
      
      <div id="display">
        <h3>List of books:</h3>
        <p><code>GET /api/books</code></p>
        <div id="booksList">
          
        </div>
        <button id="deleteAllBooks">Delete all books</button>
      </div>
      
      <div id="bookDetail">
        <h3>Book details:</h3>
        <p><code>GET /api/books/{_id}</code></p>
        <p>Select a book to see its details and comments.</p>
        <hr>
        <h4 id="bookTitle">Title: </h4>
        <hr>
        <h4>Comments:</h4>
        <ol id="commentsList"></ol>
        <div id="bookInterface"></div>
      </div>
      
    </main>
    
    <footer class="container">
      <hr>
      <p>
        by <a href="https://github.com/Myrmidonut/fcc_infosec_personal_library" title="GitHub Repository" target="_blank">Frederik</a> | <a href="https://learn.freecodecamp.org/" title="Learn to code at freeCodeCamp" target="_blank">freeCodeCamp</a>
      </p>
    </footer>
    
    <script src="script.js"></script>
    
  </body>
</html>