body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
  margin: auto;
  max-width: 800px;
}

h1 {
  line-height: initial;
}

h3 {
  margin-top: 30px;
}

.user-stories {
  position: relative;
  text-align: left;
  max-width: 700px;
  margin: 15px auto;
}

.user-stories li {
  margin-bottom: 1em;
}

#display, #bookDetail {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  background-color: #87D37C;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#bookDetail {
  vertical-align: top;
}

#bookDetail form {
  padding: 0;
}

#bookDetail li {
  text-align: left;
}

#detailComments {
  padding-left: 0;
  margin-bottom: 0;
}

#detailComments li {
  padding-left: 10px;
}

#booksList li {
  cursor: pointer;
}

.bookItem:hover {
  border: 1px solid black;
}

code {
  font-family: monospace;
  color: black;
  background-color: rgba(0,0,0,0.1);
}

a {
	color: #2574A9;
}

ol {
	list-style-position: inside;
}

ul {
	list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 0.5em;
  border: 1px solid black;
  margin: 10px;
  padding: 5px 30px;
}

form {
  box-sizing: border-box;
  padding: 15px;
  background-color: #87D37C;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
  margin-bottom: 20px;
}

input, ul li, #detailcomments li {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

input[type=submit], button {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
    height: 30px;
}

input[type=submit]:hover, button:hover {
  background-color: #FFFEC4;
}

ol input {
  margin-bottom: 0;
}

#bookDetail hr {
  border: 1px solid white;
}